*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
body{
    background: linear-gradient(to left, lime 28px, red 77%, cyan);
    height: 100vh;
    display: flex;
     justify-content: center;/* this is use to center the content according to width */
     align-items: center;/* this is use to center the content according to hight */
}
.frame{
    height: 430px;
    width: 350px;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 15PX #68cdca, -5px -5px  10PX #ffffff;/* this is use to give the shadow of the box(horizontal , vertical, blluer , color code) */
    
}
.heading{
    text-align: center;
    padding: 5px;
    font-size: 18px;
}
#display{
    height: 70px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: 2px 2px 10px #b4edf4, inset -5px -5px 10px #ffffff;
    font-size: 30px;
    padding: 15px;
    box-sizing: border-box;/* this is use to mainten the padding inside the box because by default is increse outside the box */
    text-align: right;
    background-color:aquamarine;
    
}
.buttons-group{

    display: flex;
    justify-content: space-around;/* this is use to take spacess arround the from each other */

    
}
.button{
    width: 83px;
    height: 70px;
    border: none;
    outline: none;
    padding-top: 15px;
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #fafaf4;
    margin-bottom: 15px;
    background-color:rgb(107, 103, 103);

}
.button:active{
    box-shadow: inset 1px 1px 5px #babeec, inset -1px -1px 2px #ffffff;
}.button:hover{

    background-color: #68cdca;
    color: white;
    cursor: pointer;
}